* {
    font-family:Arial, Helvetica, sans-serif
}

body {
    background: url("images/Crossover_2.jpeg");
    background-size: cover;
}

.title {
    background-color: #fff;
    color: crimson;
    width: 51%;
    border-radius: 20px;
    border-radius: 20px;
    border-width: 0.3rem;
    border-style:ridge;
    border-color: crimson;
    padding: 1rem;
    margin: 5rem 0 10rem 20rem;
}

.wrapper {
    display: flex;
}

.info_container {
    background-color: white;
    width: 20%;
    height: 20rem;
    border-radius: 20px;
    border-width: 1rem;
    border-style:ridge;
    border-color: crimson;
}

.info_container p {
    font-size: large;
    padding: 1rem;
}

.details_container {
    margin-left: 20rem;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.label {
    color: crimson;
    margin: 2rem;
}

.details {
    background-color: #fff;
    margin-bottom: 5rem;
    border-width: 0.3rem;
    border-radius: 20px;
    border-style: ridge;
    border-color: crimson;
}

.details_input {
    margin-left: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 1rem;
    width: 22rem;
    height: 2rem;
    border-radius: 10px;
    border-color: crimson;
}

.details_input_check {
    margin-left: 3rem;
}

.details_input_check_2 {
    margin-left: 3.3rem;
}

.register {
    margin:0 0 2rem 35rem;
    padding: 1rem;
    font-size: large;
    font-weight: bold;
    border-color: white;
    color: white;
    background-color: crimson;
    border-radius: 20px;
}

.register a {
    text-decoration: none;
    color: white;
}